$colorRodona: #29a1ee;
$colorEquips: #00FF00;

.header {
    height: 20%;
    font-size: 50px;
    text-align: center;
}
.player {
    background-color: $colorEquips;
    padding: 30px;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}
.clock {
    padding: 20px;
    font-size: 70px;
    font-weight: bold;
    border: 5px solid #000;
}
.pointer {
    height: 80%;
    font-size: 120px;
    text-align: center;
}
.marcador {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 150px;
}
.vertical-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.right {
    float: right;
}
.left {
    float: left;
}

.pals {
    height: 100%;
}
.pal {
    margin-bottom: 50px;
    position: relative;
}
.pal-nom {
    font-size: 60px;
    text-align: center;
    width: 100%;
    margin-top: 11%;
}
.rodona {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #fff;
    border: 5px solid $colorRodona;
}

/* Modal */
#resultat {
    text-align: center;

    .modal-title {
        text-align: center;
        font-size: 70px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: 65%;
    }

    .modal-body {
        font-size: 200px;
        text-align: center;
    }

    .modal-footer {
        text-align: center;
        font-size: 70px;
    }
}
@media screen and (min-width: 768px) {
  #resultat:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
